################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SportsChatRoom/bin
/SportsChatRoom/obj
